*{
    margin: 0;
    padding: 0;
}

body{
    padding-top: 16px;
    margin: 0 auto;
}

nav{
    display: flex;
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo img{
    width: 139px;
    height: 60px;
    cursor: pointer;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: black;
    cursor: pointer;
}

.nav-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 44px;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
    padding: 12 16;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;

    
}

.font-inter{
    
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.banner{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/hero-bg.png); height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 115px 120px 180px;
    margin-top: 16px;

}

.banner-content{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 88%;
    max-width: 1360px;
    height: 295px;
}

#top-button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    gap: 8px;
    width: 229px;
    height: 35px;
    padding: 8px 12px;
    border: none;
    border-radius: 1000px;
    background-color: white;
    font-size: 16;
    font-weight: 500;
    color: #30b868;
    cursor: pointer;
}

.banner-content h2{
    line-height: 84px;
}

#banner-paragraph{
    font-style: 400;
    font-size: 18;
    color: white;
}
.first-line{
    font-size: 72px;
    color: white;
}

.second-line{
    font-size: 72px;
    color: #30b868;
}

.banner-lower-button{
    display: flex;
    margin-top:  32px;
    gap: 16px;
}

#primary-button{
    width: 251px;
    height: 52px;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
    padding: 12 16;
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#secondary-button{ 
   display: flex;
   align-items: center;
   justify-content: center;
    width: 198px;
    height: 52px;
    background-color:transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12 16;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.note-headline h2{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 36px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.note-headline p{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}



.card-container {
    background-color: white;
    padding: 24px;
    border: 1px solid black;
    margin-top: 44px;
    box-shadow: black;
}

.card-box {
    display: flex;
    gap: 24px;
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
}

.card-container img {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #f95555;
    background-size: 60px;
    border-radius: 50%;

}

.card-container h2 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
}

.card-container p {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

.solution-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 120px 120px;
}

.solution-image img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.solution-content h6 {
    font-size: 16px;
    font-weight: 500;
    color: #30b868;
}

.solution-content h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-top: 16px;
}

.solution-content p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

.solution-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    margin-top: 40px;
    gap: 16px;
}
