*{
    margin: 0;
    padding: 0;
}

body{
    padding-top: 16px;
}

nav{
    display: flex;
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo img{
    width: 139px;
    height: 60px;
    cursor: pointer;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: black;
    cursor: pointer;
}

nav .btn{
    width: 164px;
    height: 44px;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
    padding: 12 16;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;

    
}

.font-inter{
    
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}